build_dir/
staging_dir/
tmp/
dl/
bin/
*.bin
*.apk
*.ko
*.img
*.uImage
*.ipk
*.tar
*.tar.gz
*.tar.zst
*.log
*.tmp
*.swp
*.swo
*~
.config
feeds/
build-state-*.log
clean-room-build-*.log
credentials/
secrets/
